.testcase {
    background-color: #E5E6E6;
    padding-top: 10px;
    padding-left: 10px;
}

.testCasePane {
    background-color: #E5E6E6;
}

.textbox {
    height: 450px;
    overflow: auto;
}

#editor { 
    height: 450px;
    overflow: auto;
    width:95%;
}

table {
    border-collapse: collapse;
    
   
}

table, th, td {
    border: 1px solid gray;
    
}

tr:hover {
    background: white;
}